<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {%load static%}
  <link rel="stylesheet" href="{% static 'app/css/style.css' %}">
  <title>Jardín Comunitario JC</title>

  {% load pwa %}

  {% progressive_web_app_meta %}

</head>
<body>
  <!--Logo_Busqueda_Nav-->
  <div class="contenedor">
    <header>
      <div class="logo_principal">
        <a href="{% url 'index'%}"><img src="{% static 'app/img/1eda7a920595361944650b58376e27ec-flor-roja-rosa-plana-by-vexels.png' %}" alt="" height="60px"></a> 
      </div>
      <div>
        <!--<input type="text" name="search" placeholder="Busca algún producto...">-->
      </div>
      <nav>
        <li>
          <a href="{% url 'productos'%}" class="producto-btn"><i class="fas fa-shopping-basket"></i></a>
        </li>
        <li>
          <a href="{% url 'about' %}" class="contacto-btn"><i class="fas fa-phone"></i></a>
        </li>
        
        {% if perms.app.delete_user %}
          <li>
            <a href="{% url 'lista_productos' %}" class="inventario-btn"><i class="fas fa-boxes"></i></a>
          </li>
          <li>
            <a href="{% url 'lista_suscripcion' %}" class="inventario-btn"><i class="fas fa-users"></i></a>
          </li>
          <li>
            <a href="{% url 'descuentos' %}" class="inventario-btn"><i class="fas fa-percent"></i></a>
          </li>
        {% endif %}

        {% if user.is_authenticated %}
        <li>
          <a href="{% url 'logout' %}" class="socio-btn" id="logout-btn"><i class="fas fa-sign-out-alt"></i> {{user.first_name}}</a>
        </li>
        <li>
          <a href="{% url 'suscripcion' %}" class="socio-btn" id="logout-btn">Suscripción</a>
        </li>
        <li>
          <a href="{% url 'carrito' %}" class="socio-btn" id="logout-btn" ><i class="fas fa-shopping-cart"></i></a>
        </li>
        {% else %}
        <li>
          <a href="{% url 'login' %}" class="socio-btn"><i class="fas fa-sign-in-alt"></i></a>
        </li>
        {% endif %}
        <div class="animation start-home"></div>
      </nav>
    </header>
  </div>

{%block contenido%}


{% endblock %}


  <!--Footer-->
  <footer class="footer">
    <p>Jardín Comunitario © <a href="https://youtu.be/dQw4w9WgXcQ" target="_blank" rel="noopener noreferrer">Dream Team</a> 2021</p>
  </footer>

  <script src="{% static 'app/js/jquery-3.2.1.js' %}"></script>
  <script src="{% static 'app/js/javascript.js' %}"></script>
  <script src="https://kit.fontawesome.com/2ffca1f776.js" crossorigin="anonymous"></script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="{% static 'app/js/sweetAlert2.js' %}"></script>
</body>
</html>
